.todo-container {
    max-width: 400px;
    margin: auto;
    padding: 2rem;
    font-family: 'Segoe UI', sans-serif;
    background-color: #e6f0ff;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.todo-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #264653;
    font-family: 'Segoe UI', sans-serif;
}

.input-group {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.input-group input {
    flex: 1;
    padding: 0.75rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
    outline: none;
    border: none;

}

.add-btn {
    padding: 0.75rem;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.task-card {
    background: #f1f9ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    color: #264653;
}


.delete-btn {
    background: none;
    border: none;
    color: #e74c3c;
    cursor: pointer;
}

.clear-btn {
    display: flex;
    align-items: center;
    margin: 1rem auto 0;
    padding: 0.5rem 1rem;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}